<nav>
    <ul>
        {% if app.user %}
            <li><a href={{ path('app_main_home') }}>acceuil</a></li>
            <li><a href="{{ path('app_profil_monprofil') }}">mon profil {{ app.user.pseudo }}</a></li>
            <li><a href="{{ path('app_logout') }}">se déconnecter</a></li>
        {% endif %}
    </ul>
</nav>